* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 15px;
}
/* header  */
.fixed-top {
  background: rgba(0, 0, 0, 0.58);
}

.navbar-dark .navbar-brand {
  font-size: 1.5rem;
}

.navbar-nav {
  transition: all 0.3s ease;
}
.navbar-dark .nav-link::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #e5ac23;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.navbar-dark .nav-link:hover::after {
  width: 100%;
}

.logo {
  max-width: 50px;
}

/* Aviso-legal */
.aviso-legal {
  margin: 6rem;
}

/* Contacto */
.contacto {
  margin: 6rem;
}

.link {
  color: #e5ac23;
}

.link:hover {
  transform: scale(1.5);
  color: brown;
}

/* Tartas */

#tartas .col-4 {
  margin: 0 !important;
  padding: 25px;
}

#tartas img {
  width: 100%;
  height: 300px;
}

/* pedidos online */
#online img {
  width: 700px;
  height: 500px;
  margin: 0;
  padding: 0;
}

#tartas img:hover {
  border: 5px solid #f7f7f7;
}
/* footer */
.footer {
  background-color: #111111;
  color: white;
}

.footer .container a {
  color: #e5ac23;
  transition: all 0.3s ease;
  min-width: 100%;
}

.footer .container a:hover {
  transform: scale(1.5);
  color: brown;
}

.footer .container .marc {
  font-size: 10px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
